<div class="pricing">
  <div class="container">
    <div class="pricing_head">
      <h2>Pricing</h2>
      <p>
        We pride ourselves on the ease of getting in and out of our park and the
        affordability. For any special requests or concerns please give us a
        call, information found on our contact page.
      </p>
    </div>
    <div class="pricing_prices">
      <div class="pricing_prices-ride">
        <h3>Ride</h3>
        <hr />
        <div class="pricing_prices_text">
          <p>$30 Per adult per day (16+)</p>
          <p>
            $10 Per child per day<br />
            (Age 6-15, 5 and under is free)
          </p>
          <p>$50 Adults / $20 Child for weekend</p>
          <p>No charge for ATV / UTV</p>
        </div>
      </div>
      <div class="pricing_prices-relax">
        <h3>Relax</h3>
        <hr />
        <div class="pricing_prices_text">
          <p class="text-bold">RV Sites</p>
          <p>$40/Night with power</p>
          <p>$20/Night without power</p>
          <p class="text-bold">Camping</p>
          <p>$20/Night</p>
        </div>
      </div>
      <div class="pricing_prices-relax">
        <h3>Repeat</h3>
        <hr />
        <div class="pricing_prices_text">
          <p>
            Loyal Customers get special offers!<br />
            More info to come.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
