<div class="hero">
  <div class="container">
    <div class="hero_cta">
      <h1>Slippery When Wet</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
        porro fuga modi obcaecati numquam inventore soluta fugit qui vel, natus
        at! Incidunt, quia deserunt necessitatibus dolorum nihil ut tenetur
        quam.
      </p>
      <div class="hero_cta_buttons">
        <button
          class="button button-large button-secondary color-black"
          [routerLink]="['/events']"
        >
          Events
        </button>
        <a
          href="/assets/release_2020.pdf"
          target="_blank"
          class="button button-large button-nobg button-nobg-white"
        >
          Print Waiver
        </a>
      </div>
    </div>
  </div>
</div>
