<div class="header container">
  <div
    class="header_logo"
    [ngStyle]="{ color: router.url !== '/' ? 'var(--color-primary)' : null }"
    [routerLink]="['/']"
  >
    <h2>
      Southern Ridge
      <span [ngStyle]="{ color: router.url !== '/' ? '#222' : null }">ATV</span>
    </h2>
  </div>
  <nav class="header_menu">
    <ul [ngStyle]="{ color: router.url !== '/' ? '#222' : null }">
      <li>
        <a
          [routerLink]="['/']"
          routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <!-- <li [routerLink]="['/gallery']" routerLinkActive="router-link-active">
        <a>Gallery</a>
      </li> -->
      <li [routerLink]="['/events']" routerLinkActive="router-link-active">
        <a>Events</a>
      </li>
      <li>
        <a [routerLink]="['/rules']" routerLinkActive="router-link-active"
          >Rules</a
        >
      </li>
      <li><a href="/assets/release_2020.pdf" target="_blank">Waiver</a></li>
    </ul>
  </nav>
  <div class="header_menu_mobile" (click)="mobile_menu = !mobile_menu">
    <i
      class="fas fa-bars"
      [ngStyle]="{ color: router.url !== '/' ? 'var(--color-primary)' : null }"
    ></i>
  </div>
  <div class="header_menu_mobile_menu" *ngIf="mobile_menu">
    <div class="bg" (click)="mobile_menu = false"></div>
    <ul>
      <li
        [routerLink]="['/']"
        routerLinkActive="router-link-active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Home
      </li>
      <li [routerLink]="['/events']" routerLinkActive="router-link-active">
        Events
      </li>
      <li [routerLink]="['/rules']" routerLinkActive="router-link-active">
        Rules
      </li>
    </ul>
  </div>
</div>
