<div class="welcome container">
  <div class="welcome_head">
    <h2>Welcome To Southern Ridge</h2>
    <p>
      You may not stay for a long time, but you'll be sure to have a good time!
      We're a family and pet friendly park with over 1,000 acres of property to
      ride, from hills, to dirt roads, to swamp, we have a little bit of
      everything for every rider. When the sun is shinin' you can cool off in
      the river or when it starts to chill out there's a bonfire pit to warm you
      up, and maybe show off your dance moves. We have RV sites (reservation
      required) as well as primitive camping and bath houses so you can stay and
      enjoy yourself, so come on and get your mud on!
    </p>
  </div>
  <div class="flex">
    <div class="welcome_hours">
      <h3>Hours Of Operation</h3>
      <div class="items">
        <div class="items_item">
          <p class="text-bold">Open From</p>
          <p>12pm Friday through 4pm Sunday</p>
        </div>
        <div class="items_item">
          <p class="text-bold">Gate Hours</p>
          <p>Friday: 12pm - 7pm</p>
          <p>Saturday: 8am - 7pm</p>
          <p>Sunday: 8am - 4pm</p>
        </div>
        <div class="items_item">
          <p class="text-bold">Cafe Hours</p>
          <p>Saturday: 8am - 7pm</p>
          <p>Sunday: 8am - 11am</p>
        </div>
        <div class="items_item">
          <p class="text-bold">Please be out of the park by dark on Sunday.</p>
        </div>
      </div>
    </div>
    <div class="welcome_form">
      <h3>Release Form</h3>
      <p>
        All riders must sign a release form before entering the park.
        <span class="text-bold">
          All riders under the age of 19 arriving without their respective
          parent or legal guardian must bring a notarized waiver signed by their
          parent or legal guardian and a copy of their drivers license.
        </span>
        <br />
        <br />
        For a printable version of our release form please click the button
        below
      </p>
      <button class="button button-secondary color-black">Print Form</button>
    </div>
  </div>
</div>
