<div class="video">
  <div class="container">
    <div class="video_head">
      <h2>Ride With The Crew</h2>
      <p>
        Take a look at these videos from the Southern Ridge Crew hittin' the
        trails and slingin' some mud! Then come see us and join in on the fun!
        Video by Uncle Packy's Adventures.
      </p>
    </div>
    <div class="video_video">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/9QRD-7yFDAM"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div class="video_cta">
      <button class="button button-primary button-large">
        View Our Gallery
      </button>
    </div>
  </div>
</div>
