.video {
  background-color: var(--color-white-2);
  padding: var(--size-large) 0;
  text-align: center;

  &_head {
    h2 {
      text-transform: uppercase;
    }

    p {
      margin-top: var(--size-small);
    }
  }

  &_video,
  &_cta {
    margin-top: var(--size-small-medium);
  }
}
