<div class="features container">
  <div class="features_head">
    <h2>A Taste Of What We Do</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
  <div class="features_list">
    <div class="features_list_feature">
      <div class="features_list_feature_icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="-2 -2 24 24"
          width="48"
          height="48"
          preserveAspectRatio="xMinYMin"
          class="icon__icon"
        >
          <path
            d="M20 8.163A2.106 2.106 0 0 0 18.926 10c0 .789.433 1.476 1.074 1.837l-.717 2.406a2.105 2.105 0 0 0-2.218 3.058l-2.062 1.602A2.104 2.104 0 0 0 11.633 20l-3.29-.008a2.104 2.104 0 0 0-3.362-1.094l-2.06-1.615A2.105 2.105 0 0 0 .715 14.24L0 11.825A2.106 2.106 0 0 0 1.051 10C1.051 9.22.63 8.54 0 8.175L.715 5.76a2.105 2.105 0 0 0 2.207-3.043L4.98 1.102A2.104 2.104 0 0 0 8.342.008L11.634 0a2.104 2.104 0 0 0 3.37 1.097L17.064 2.7a2.105 2.105 0 0 0 2.218 3.058L20 8.162zM10 14a4 4 0 1 0 0-8 4 4 0 0 0 0 8z"
          ></path>
        </svg>
      </div>
      <div class="features_list_feature_text">
        <h3>Ride</h3>
        <p>
          There are over 1,000 acres of property to ride that are well
          maintained and trails for all experience levels. The terrain varies
          from hills and woodland, to dirt roads and swampy mud.
        </p>
      </div>
    </div>
    <div class="features_list_feature">
      <div class="features_list_feature_icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="-4 -2 24 24"
          width="48"
          height="48"
          preserveAspectRatio="xMinYMin"
          class="icon__icon"
        >
          <path
            d="M12.253.335A10.086 10.086 0 0 0 8.768 8c0 4.632 3.068 8.528 7.232 9.665A9.555 9.555 0 0 1 9.742 20C4.362 20 0 15.523 0 10S4.362 0 9.742 0c.868 0 1.71.117 2.511.335z"
          ></path>
        </svg>
      </div>
      <div class="features_list_feature_text">
        <h3>Relax</h3>
        <p>
          We offer over 100 RV sites as well as primitive camping, for your
          overnight stay. There are bath houses to wash the mud off of you and
          the wash rack to clean your ride! Ride, Rinse, Repeat!
        </p>
      </div>
    </div>
    <div class="features_list_feature">
      <div class="features_list_feature_icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="-2 -2 24 24"
          width="48"
          height="48"
          preserveAspectRatio="xMinYMin"
          class="icon__icon"
        >
          <path
            d="M4.258 6.884L9.97 16.977l5.618-9.83c-1.33-.105-2.712-.453-4.242-.992-.395-.14-.598-.171-.78-.148-.154.02-1.723.569-2.643.802-1.161.294-2.384.317-3.665.075zm-1.41-2.49c1.702.67 3.224.82 4.584.476.738-.187 2.478-.796 2.883-.847.529-.067 1.03.01 1.696.245 1.774.626 3.296.956 4.703.909l.887-1.552A18.559 18.559 0 0 0 9.966 2a18.56 18.56 0 0 0-7.569 1.596l.451.797zM.542 2.268A20.508 20.508 0 0 1 9.966 0c3.362 0 6.606.8 9.496 2.306a1 1 0 0 1 .406 1.383l-9.034 15.807a1 1 0 0 1-1.738-.004L.13 3.65a1 1 0 0 1 .412-1.38zM8 10a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm3 3a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"
          ></path>
        </svg>
      </div>
      <div class="features_list_feature_text">
        <h3>Replenish</h3>
        <p>
          Fill your belly & quench your thirst at Cedar Ridge Cafe! Open
          Saturday 8am - 7pm and Sunday 8am - 2pm.<br /><br />
          Y'all come eat now ya hear!
        </p>
      </div>
    </div>
  </div>
</div>
